@import "tailwindcss";


body {
  font-family: 'IBM Plex Mono', monospace;
  background-image: url('/J4o.gif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}
